* {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 15px;
}

.wid {
    width: 35vw;
    height: auto;
}

.labelwid {
    background-color: paleturquoise !important;
}

@media (max-width: 800px) {
    .sp {
        display: block;
        text-align: left;
    }
}